<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6>
          <br />
          <h6 class="h3 text-white d-inline-block mb-0">
            "Registration of Certified Communications Equipment (RECCE)"
          </h6>
          <br /><br />
          <h6 class="h2 text-white d-inline-block mb-0">API Configuration</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total System Usage
              </h5>
            </div>
            <div class="chart">
              <div class="amchart align-items-center" id="pie"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Portal Performance
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="pieChart"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bounce Rate
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="bounce"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="example2cols1Input">
              Service Name
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="GetNewCertifiedProduct"
              type="text"
              [disabled]="true"
            />

            <label class="form-control-label mt-2" for="example2cols1Input">
              IP Address
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="192.168.1.2"
              type="text"
              [disabled]="true"
            />

            <label class="form-control-label mt-2" for="example2cols1Input">
              Subnet Mask
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="255.255.255.0"
              type="text"
              [disabled]="true"
            />

            <label class="form-control-label mt-2" for="example2cols1Input">
              Default Gateway
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="192.168.1.254"
              type="text"
              [disabled]="true"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="example2cols2Input">
              URL
            </label>

            <input
              class="form-control"
              id="example2cols2Input"
              placeholder="http://api.example.com/device-management/managed-devices"
              type="text"
              [disabled]="true"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-5 text-right">
          <a class="btn btn-primary" href="javascript:void(0)"> Save </a>
        </div>
      </div>
    </div>
  </div>
</div>
