<ngx-loading-bar></ngx-loading-bar>
<section class="section section-sm section-shaped pb-250">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-default alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0 mt-5">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="display-3 text-white text-center">
              REGISTER OF CERTIFIED COMMUNICATIONS EQUIPMENT
              <span><b>(RECCE)</b></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
</section>
<section class="section">
  <div class="container">
    <div class="row mt--250">
      <div class="container">
        <div class="row justify-content-center mt--2">
          <div class="col">
            <div class="card">
              <div class="card card-header bg-secondary card-profile shadow">
                <h2 class="text-center mb-4">Frequently Asked Question(s)</h2>
                <br />
                <accordion [isAnimated]="true" [closeOthers]="true">
                  <accordion-group class="mt--4" *ngFor="let option of infoTable" [heading]="option.category">
                    <p innerHtml="{{ option.content }}"></p>
                  </accordion-group>
                </accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
