<ngx-loading-bar></ngx-loading-bar>
<section class="section section-sm section-shaped pb-250">
  <!-- Circles background -->
  <div class="shape shape-style-1 shape-default alpha-4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-lg-md d-flex">
    <div class="col px-0 mt-5">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="display-3 text-white text-center">
            REGISTER OF CERTIFIED COMMUNICATIONS EQUIPMENT
            <span><b>(RECCE)</b></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<span *ngIf="variableTable.is_enable == true">
  <section class="section">
    <div class="container">
      <div class="main-content d-flex">
        <div class="container">
          <div
            class="row text-center card bg-secondary card-profile shadow mt--250"
          >
            <form [formGroup]="searchPRODUCTForm">
              <h3 class="text-center mt-4">Model/Brand Enquiry</h3>
              <br />
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="product"
                  ><span class="required">*</span>Brand</label
                >
                <div class="col-md-7">
                  <input
                    class="ml-2 form-control"
                    type="text"
                    id="product"
                    formControlName="PRODUCT"
                    name="product"
                    placeholder="EG:SAMSUNG"
                    [(ngModel)]="product"
                    (focus)="focusUsername = true"
                    (blur)="focusUsername = false"
                  />
                  <ng-container
                    *ngFor="let message of loginFormMessages.PRODUCT"
                  >
                    <div
                      *ngIf="
                        searchPRODUCTForm
                          .get('PRODUCT')
                          .hasError(message.type) &&
                        (searchPRODUCTForm.get('PRODUCT').dirty ||
                          searchPRODUCTForm.get('PRODUCT').touched)
                      "
                    >
                      <p class="error-message">
                        <span
                          ><b>{{ message.message }}</b></span
                        >
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="model">Model</label>
                <div class="col-md-7">
                  <input
                    class="ml-2 form-control"
                    type="text"
                    id="model"
                    formControlName="MODEL"
                    name="model"
                    placeholder="EG:GALAXY SMARTWATCH"
                    [(ngModel)]="model"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="search"
                  ><span class="required">*</span>Search by</label
                >
                <div class="col-md-7">
                  <select
                    class="ml-2 form-control"
                    type="text"
                    id="search"
                    formControlName="TYPE"
                    name="search"
                    (change)="changeDropdown($event.target.value)"
                    [(ngModel)]="searchType"
                  >
                    <option hidden selected value="0">--Please pick--</option>
                    <option value="exact">Exact word</option>
                    <option value="any">Any combination word</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-center">
                  <ngx-recaptcha2
                    #captchaElem
                    [siteKey]="siteKey"
                    (reset)="handleReset()"
                    (expire)="handleExpire()"
                    (load)="handleLoad()"
                    (success)="handleSuccess($event)"
                    [useGlobalDomain]="false"
                    [size]="size"
                    [hl]="lang"
                    [theme]="theme"
                    [type]="type"
                    formControlName="recaptcha"
                    class="text-center"
                  >
                  </ngx-recaptcha2>
                </div>
              </div>

              <div class="text-center">
                <button
                  class="btn btn-lg btn-neutral"
                  (click)="buttonSubmit()"
                  [disabled]="!searchPRODUCTForm.valid"
                  style="width: 100px"
                >
                  Search
                </button>
                <input
                  class="btn btn-lg btn-neutral"
                  type="reset"
                  value="Reset"
                  style="width: 100px"
                />
                <br /><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</span>
<span *ngIf="variableTable.is_enable == false">
  <section class="section">
    <div class="container">
      <div class="main-content d-flex">
        <div class="container">
          <div
            class="row text-center card bg-secondary card-profile shadow mt--250"
          >
            <form [formGroup]="searchPRODUCTForm">
              <h3 class="text-center mt-4" >Model/Brand Enquiry</h3>
              <br />
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="product"
                  ><span class="required">*</span>Brand</label
                >
                <div class="col-md-7">
                  <input
                    class="ml-2 form-control"
                    type="text"
                    id="product"
                    formControlName="PRODUCT"
                    name="product"
                    disabled="yes"
                    placeholder="EG:SAMSUNG"
                    [(ngModel)]="product"
                    (focus)="focusUsername = true"
                    (blur)="focusUsername = false"
                  />
                  <ng-container
                    *ngFor="let message of loginFormMessages.PRODUCT"
                  >
                    <div
                      *ngIf="
                        searchPRODUCTForm
                          .get('PRODUCT')
                          .hasError(message.type) &&
                        (searchPRODUCTForm.get('PRODUCT').dirty ||
                          searchPRODUCTForm.get('PRODUCT').touched)
                      "
                    >
                      <p class="error-message">
                        <span
                          ><b>{{ message.message }}</b></span
                        >
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="model">Model</label>
                <div class="col-md-7">
                  <input
                    class="ml-2 form-control"
                    type="text"
                    id="model"
                    disabled="yes"
                    formControlName="MODEL"
                    name="model"
                    placeholder="EG:GALAXY SMARTWATCH"
                    [(ngModel)]="model"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="h3 text-right col-md-3" for="search"
                  ><span class="required">*</span>Search by</label
                >
                <div class="col-md-7">
                  <select
                    class="ml-2 form-control"
                    type="text"
                    id="search"
                    formControlName="TYPE"
                    disabled="yes"
                    name="search"
                    (change)="changeDropdown($event.target.value)"
                    [(ngModel)]="searchType"
                  >
                    <option hidden selected value="0">--Please pick--</option>
                    <option value="exact">Exact word</option>
                    <option value="any">Any combination word</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-center">
                  <ngx-recaptcha2
                    #captchaElem
                    [siteKey]="siteKey"
                    (reset)="handleReset()"
                    (expire)="handleExpire()"
                    (load)="handleLoad()"
                    (success)="handleSuccess($event)"
                    [useGlobalDomain]="false"
                    [size]="size"
                    [hl]="lang"
                    [theme]="theme"
                    [type]="type"
                    formControlName="recaptcha"
                    [disabled]="yes"
                    class="text-center"
                  >
                  </ngx-recaptcha2>
                </div>
              </div>

              <div class="text-center">
                <button
                  class="btn btn-lg btn-neutral"
                  (click)="buttonSubmit()"
                  [disabled]="!searchPRODUCTForm.valid"
                  style="width: 100px"
                >
                  Search
                </button>
                <input
                  class="btn btn-lg btn-neutral"
                  type="reset"
                  value="Reset"
                  style="width: 100px"
                />
                <br /><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</span>

<ng-template #showResult>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Model/Brand Enquiry
    </h6>
    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="dataTables_wrapper py-4">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length" id="datatable_length">
            <label>
              Show
              <select
                name="datatable_length"
                aria-controls="datatable"
                class="form-control form-control-sm"
                (change)="entriesChange($event)"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="-1">All</option>
              </select>
              records
            </label>
          </div>
        </div>
      </div>

      <ngx-datatable
        class="bootstrap selection-cell"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="tableEntries != -1 ? tableEntries : undefined"
        [rows]="infoTable"
        (activate)="onActivate($event)"
      >
        <ngx-datatable-column name="No">
          <ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            <strong>{{ rowIndex + 1 }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Applicant Name</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.Brand }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Model Description</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.Model }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>TAC</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.TAC }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Device Category</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.ProductCategory }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Approved Date</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.ApproveDate }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Expiry Date</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.ExpiryDate }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
