<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Welcome,</h6>
          <br />
          <h6 class="h3 text-white text-uppercase d-inline-block mb-0">
            "Register of Certified Communications Equipment (RECCE)"
          </h6>
          <br /><br />
          <h6 class="h2 text-white d-inline-block mb-0">
            Role Based Access Control
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card bg-gradient-info border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total Visitors
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 45 </span>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <a
              class="text-nowrap text-white font-weight-600"
              href="javascript:void(0)"
            >
              See details
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card bg-gradient-primary border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total Users
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 5 </span>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <a
              class="text-nowrap text-white font-weight-600"
              href="javascript:void(0)"
            >
              See details
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Edit Role Based</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-3 col-md-3 ml-4">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Division</option>
                <option>Division 2</option>
                <option>Division 3</option>
                <option>Division 4</option>
                <option>Division 5</option>
              </select>
            </div>
            <div class="col-3 col-md-3">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>User</option>
                <option>Ali</option>
                <option>Amran</option>
                <option>Amin</option>
                <option>Arif</option>
              </select>
            </div>
          </div>
          <div class="table-responsive mt-2">
            <table
              class="table align-items-center table-flush"
              style="width: 100%"
            >
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">File No.</th>
                  <th scope="col">TAC</th>
                  <th scope="col">Model Desc.</th>
                  <th scope="col">Consignee</th>
                  <th scope="col">Submission Date</th>
                  <th scope="col">Approve Date</th>
                  <th scope="col">Expiry Date</th>
                  <th scope="col">Category</th>
                  <th scope="col">SLPID</th>
                  <th scope="col">IMEI</th>
                  <th scope="col">Serial No.</th>
                  <th scope="col">Brand</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Create</td>

                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Edit</td>

                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Delete</td>

                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>View</td>

                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                  <td style="width: 5%" class="text-center">
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
