<div class="header bg-info pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-8 col-7">
					<h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6><br>
          <h6 class="h3 text-white d-inline-block mb-0">"Registration of Certified Communications Equipment (RECCE)"</h6><br><br>
          <h6 class="h2 text-white d-inline-block mb-0">FAQ Configuration</h6>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <select class="form-control custom-select" #mySelect style="width:200px">
            <option hidden selected value="0">Please pick</option>
            <option value="general">General</option>
            <option value="account">Account and Billing</option>
            <option value="owner">Owner/Tenant issues</option>
            <option value="power">Power Quality</option>
            </select>
            <button class=" btn btn-facebook btn-icon-only ml-1" type="button">+</button>
          </div>
        </div>

    <div class="col-lg-9">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" h3 mb-0">Frequently Asked Questions (FAQ) Configuration</h5>
        </div>

        <div class=" card-body">
          <div class=" form-group">
            <label class=" form-control-label" for="example2cols1Input">
              Title
            </label>

            <input
              class=" form-control"
              id="example2cols1Input"
              placeholder=""
              type="text"
            />
          </div>
            <h5 class=" mb-0">Content</h5>
            <div id="quill" data-toggle="quill"></div>
        </div>
  
        <div class=" col-lg-12 col-5 text-right">
          <a class=" btn btn-primary" href="javascript:void(0)"> Save </a>
        </div> <br>

      </div>
    </div>
      </div>
    </div>
  </div>
</div>