<ngx-loading-bar></ngx-loading-bar>
<div class="auth-content">
  <div class=" header ">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class="col-lg-2">
              <img class="logo" [src]="imgLogo" style="height:100px">
          </div>
          <div class=" col-lg-8 col-7 ml--6">
              <h1 class="ml-4 text-white"><i>Welcome to </i><br><b>REGISTRY of CERTIFIED COMMUNICATION EQUIPMENT<br>(RECCE)</b></h1>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="main-content d-flex align-items-center">
      <div class="container">
          <div class="row justify-content-center mt-6">

            <form [formGroup]="searchSERIALForm">
              <h1 class="text-white text-center">Product Serial Number Enquiry</h1><br>
                <div class="form-group row">
                  <label class="h2 text-white col-md-2" for="serial">Serial:</label>
                  <div class="col-md-10">
                    <input
                      class="ml-2 form-control"
                      type="text"
                      id="serial"
                      formControlName="SERIAL"
                      name="serial"
                      style="width: 400px"
                      [(ngModel)]="serial"
                      (focus)="focusSerial = true" 
                      (blur)="focusSerial = false"
                    />
                    <ng-container *ngFor="let message of SerialMessages.SERIAL">
                                    <div *ngIf="searchSERIALForm.get('SERIAL').hasError(message.type) && (searchSERIALForm.get('SERIAL').dirty || searchSERIALForm.get('SERIAL').touched)">
                                        <p class="error-message"><span>{{ message.message }}</span></p>
                                    </div>
                    </ng-container>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="h2 text-white col-md-2" for="model">Model:</label>
                  <div class="col-md-10">
                    <input
                      class="ml-2 form-control"
                      type="text"
                      id="model"
                      
                      name="imei"
                      style="width: 400px"
                      
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="h2 text-white col-md-2" for="imei">Brand:</label>
                  <div class="col-md-10">
                    <input
                      class="ml-2 form-control"
                      type="text"
                      id="brand"
                     
                      name="brand"
                      style="width: 400px"
                      
                    />
                  </div>
                </div>
              <div class="text-center">
              <button class=" ml-2 btn btn-lg btn-neutral" (click)="productGeneration(); openModal(showResult)" [disabled]="!searchSERIALForm.valid" style="width:100px">
                Search
              </button>
              <button class=" mr-2 btn btn-lg btn-neutral" style="width:100px">
                Reset
              </button>
              <br>
              <button class=" btn btn-lg btn-neutral mt-1 mr-1" (click)="navigatePage('menu')" style="width:202px">
                Main menu
              </button>
              </div>
            </form>
              
          </div>
      </div>
  </div>
</div>
<!--
<div class="container-fluid mt--5 ">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-8">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ test | date: "yyyy" }}
					All rights reserved © 
					<a
						href="https://www.mcmc.gov.my/en/home"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						Malaysian Communications and Multimedia Commission
					</a>
				</div>
			</div>
		</div>
</div>
-->
<ng-template #showResult>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Serial Number
        </h6>
        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <table style="width:80%">
  <tr>
    <td><b>Serial No.</b></td>
    <td style="width: 80%;">
    <div *ngFor="let data of infoTable">
    <span>{{data.serialNo}}</span>
    </div>
    </td>
  </tr>
  <tr>
    <td><b>Model</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.modelDescription}}</span>
    </div>
    </td>

  </tr>
  <tr>
    <td><b>Product Category</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.productCategory}}</span>
    </div>
    </td>
  </tr>
  <tr>
    <td><b>SLPID</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.SLPID}}</span>
    </div>
    </td>
  </tr>
  <tr>
    <td><b>CERT HOLDER</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.consigneeName}}</span>
    </div>
    </td>
  </tr>
  <tr>
    <td><b>TAC</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.TAC}}</span>
    </div>
    </td>
  </tr>
  <tr>
    <td><b>Approve Date</b></td>
    <td>
    <div *ngFor="let data of infoTable">
    <span>{{data.approveDate}}</span>
    </div>
    </td>
  </tr>
</table>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Close
        </button>
    </div>
</ng-template>