<div class="header bg-info pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-8 col-7">
					<h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6><br>
          <h6 class="h3 text-white d-inline-block mb-0">"Registration of Certified Communications Equipment (RECCE)"</h6><br><br>
          <h6 class="h2 text-white d-inline-block mb-0">Data Search</h6>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Visitors
									</h5>

									<span class="h2 font-weight-bold mb-0"> 350,897 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"> </i>
									</div>
								</div>
							</div>

							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Data
									</h5>

									<span class="h2 font-weight-bold mb-0"> 2,356 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="ni ni-chart-pie-35"> </i>
									</div>
								</div>
							</div>

							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										IMEI Info
									</h5>

									<span class="h2 font-weight-bold mb-0"> 924 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="ni ni-money-coins"> </i>
									</div>
								</div>
							</div>

							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Serial Number
									</h5>

									<span class="h2 font-weight-bold mb-0"> 49,65% </span>
								</div>

								<div class="col-auto">
									<div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="ni ni-chart-bar-32"> </i>
									</div>
								</div>
							</div>

							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2">
									<i class="fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class="text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>
			</div>
  <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Data Search</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="10" [selected]="entries==5">5</option>
                                        <option value="25" [selected]="entries==10">10</option>
                                        <option value="50" [selected]="entries==15">15</option>
                                        <option value="-1" [selected]="entries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>

                    </div>

                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>User ID</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.user_id}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Name"></ngx-datatable-column>
                        <ngx-datatable-column name="Email"></ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Joined At</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.joined_at}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>User Type</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.user_type}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Status</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.is_active == 'Active'" class="badge badge-pill badge-success">Active</span>
                                <span *ngIf="row.is_active == 'Inactive'" class="badge badge-pill badge-warning">Inactive</span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card bg-default">
        <div class=" card-header bg-transparent">
          <div class=" row align-items-center">
            <div class=" col">
              <h6 class=" text-light text-uppercase ls-1 mb-1">Overview</h6>

              <h5 class=" h3 text-white mb-0">Sales value</h5>
            </div>

            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li
                  class="nav-item mr-2 mr-md-0"
                  data-toggle="chart"
                  data-target="#chart-sales"
                  (click)="data = datasets[0]; updateOptions()"
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clicked === true }"
                    data-toggle="tab"
                    (click)="clicked = true; clicked1 = false"
                  >
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li
                  class="nav-item"
                  data-toggle="chart"
                  data-target="#chart-sales"
                  (click)="data = datasets[1]; updateOptions()"
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-link py-2 px-3"
                    [ngClass]="{ active: clicked1 === true }"
                    data-toggle="tab"
                    (click)="clicked = false; clicked1 = true"
                  >
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class=" card-body">
          <div class=" chart">
            <canvas class=" chart-canvas" id="chart-sales-dark"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>