<div class="container-fluid">
	<footer class="footer">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-md-8">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ test | date: "yyyy" }}
					All rights reserved © 
					<a
						href="https://www.mcmc.gov.my/en/home"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						Malaysian Communications and Multimedia Commission
					</a>
				</div>
			</div>
			<div class="col-md-4 text-right btn-wrapper">
			<button
				class=" btn btn-facebook btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-facebook"> </i>
				</span>
			</button>
			<button
				class=" btn btn-instagram btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-instagram"> </i>
				</span>
			</button>
			<button
				class=" btn btn-youtube btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-youtube"> </i>
				</span>
			</button>
			</div>
		</div>
		
	</footer>
</div>