<ngx-loading-bar></ngx-loading-bar>
<div class="auth-content">
  <div class="header">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center mx-auto py-4">
          <div class="col-lg-2">
            <img class="logo" [src]="imgLogo" style="height: 100px" />
          </div>
          <div class="col-lg-8 col-7 ml--6">
            <h1 class="ml-4 text-white">
              <b>Welcome to </b><br /><b
                >REGISTRY of CERTIFIED COMMUNICATIONS EQUIPMENT<br />(RECCE)</b
              >
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center mt-6">
        <form [formGroup]="searchLABELForm">
          <h1 class="text-white text-center">Self Labeling ID Enquiry</h1>
          <br />
          <div class="form-group row">
                  <label class="h2 text-white col-md-2" for="imei">ID:</label>
                  <div class="col-md-10">
                    <input
                      class="ml-2 form-control"
                      type="text"
                      id="label"
                      formControlName="LABEL"
                      name="label"
                      style="width: 400px"
                      [(ngModel)]="label"
                      (focus)="focusLabel = true" 
                      (blur)="focusLabel = false"
                    />
                    <ng-container *ngFor="let message of LabelMessages.LABEL">
                                    <div *ngIf="searchLABELForm.get('LABEL').hasError(message.type) && (searchLABELForm.get('LABEL').dirty || searchLABELForm.get('LABEL').touched)">
                                        <p class="error-message"><span>{{ message.message }}</span></p>
                                    </div>
                    </ng-container>
                  </div>
                </div>
          <div class="text-center">
            <button
              class="btn btn-lg btn-neutral ml--1"
              (click)="productGeneration(); openModal(showResult)"
              [disabled]="!searchLABELForm.valid"
              style="width: 100px"
            >
              Search
            </button>
            <button
              class="btn btn-lg btn-neutral mr--1"
              type="reset"
              style="width: 100px"
            >Reset</button>
            <br />
            <button
              class="btn btn-lg btn-neutral mt-1"
              (click)="navigatePage('menu')"
              style="width: 200px"
            >
              Main menu
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container-fluid mt--5">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-8">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }}
        All rights reserved ©
        <a
          href="https://www.mcmc.gov.my/en/home"
          class="font-weight-bold ml-1"
          target="_blank"
        >
          Malaysian Communications and Multimedia Commission
        </a>
      </div>
    </div>
  </div>
</div>
-->
<ng-template #showResult>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Self Labeling ID
    </h6>
    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="dataTables_wrapper py-4">
      <ngx-datatable
        class="bootstrap selection-cell"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="tableEntries != -1 ? tableEntries : undefined"
        [rows]="infoTable"
        (activate)="onActivate($event)"
      >
        <ngx-datatable-column name="No">
          <ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            <strong>{{ rowIndex + 1 }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>SLPID</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.SLPID }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Cert Holder</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.consigneeName }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Approved Date</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.approveDate }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Expiry Date</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.expiryDate }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Product Info</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.expiryDate }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>File No.</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fileNo }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Principal</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.expiryDate }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
