<div class="container-fluid">
	<footer class="footer">
		<div class="row">
			<div class="col-9">
				<div class="row ml-4">
					<div class="collapse-brand">
						<img src="../assets/img/logo/MCMC New Logo_Colour.png" style="height:60px">
					</div>
					<div class="ml-4">
						<a class="h5" href="https://www.mcmc.gov.my/en/legal-disclaimer">| Legal Disclaimer </a>
						<a class="h5" href="https://www.mcmc.gov.my/en/privacy-policy">| Privacy Policy </a>
						<a class="h5" href="https://www.mcmc.gov.my/en/security-policy">| Security Policy |</a>
						<br>
						<h5>Visitor Counter: 45</h5>
						<div class="h5 text-muted">Last updated on {{ test | date: " dd/MM/yyyy  hh:mm:ss a" }}
						</div>
					</div>
				</div>
			</div>

            <div class="col-3">
				<h5 class="ml-5">Forum</h5>
				<div class="row mr--4">
					<a href="https://www.cfm.my"><img class="ml-1" src="assets/img/logo/cropped-CFM-Logo-PNG-SM128.png"  style="height:40px"></a>
					<a href="http://www.cmcf.my/home.php"><img class="ml-1" src="assets/img/logo/Logo Communications & Multimedia Content Forum Malaysia CMCF.png" style="height:40px"></a>
					<a href="https://mtsfb.org.my/"><img class="ml-1" src="assets/img/logo/MTSFB.png" style="height:40px"></a>
					<a href="https://www.kkmm.gov.my/"><img class="mt--5" src="assets/img/logo/KKMM.png" style="height:100px"></a>
				</div>
			</div>
		</div>
		<!--<div class="col-6 ml-4">
			<div class="row">
				<div class="collapse-brand">
					<img src="../assets/img/logo/MCMC New Logo_Colour.png" style="height:60px">
				</div>
				<div class="ml-4">
					<a class="h5" href="https://www.mcmc.gov.my/en/legal-disclaimer">| Legal Disclaimer </a>
					<a class="h5" href="https://www.mcmc.gov.my/en/privacy-policy">| Privacy Policy </a>
					<a class="h5" href="https://www.mcmc.gov.my/en/security-policy">| Security Policy |</a>
					<br>
					<h5>Visitor Counter: </h5>
					<div class="h5 text-muted">Last updated on {{ test | date: " dd/MM/yyyy  hh:mm:ss a" }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<h5>asdasd</h5>
			<img src="assets/img/logo/MCMC New Logo_Colour.png" style="height:50px">
			<img src="assets/img/logo/MCMC New Logo_Colour.png" style="height:50px">
			<img src="assets/img/logo/MCMC New Logo_Colour.png" style="height:50px">
		</div>-->
		<hr>
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-md-8">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ test | date: "yyyy" }}
					All rights reserved © 
					<a
						href="https://www.mcmc.gov.my/en/home"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						Malaysian Communications and Multimedia Commission
					</a>
				</div>
			</div>
			<div class="col-md-4 text-right btn-wrapper">
			<button
				class=" btn btn-facebook btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-facebook"> </i>
				</span>
			</button>
			<button
				class=" btn btn-instagram btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-instagram"> </i>
				</span>
			</button>
			<button
				class=" btn btn-youtube btn-icon-only rounded-circle"
				type="button"
			>
				<span class=" btn-inner--icon">
				<i class=" fab fa-youtube"> </i>
				</span>
			</button>
			</div>
		</div>
		
	</footer>
</div>