<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6>
          <br />
          <h6 class="h3 text-white d-inline-block mb-0">
            "Registration of Certified Communications Equipment (RECCE)"
          </h6>
          <br /><br />
          <h6 class="h2 text-white d-inline-block mb-0">System Variable</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total System Usage
              </h5>
            </div>
            <div class="chart">
              <div class="amchart align-items-center" id="pieVar"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Portal Performance
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="pieChartVar"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bounce Rate
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="bounceVar"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="example2cols1Input">
              Variable
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder=""
              type="text"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="example2cols2Input">
              Value
            </label>

            <input
              class="form-control"
              id="example2cols2Input"
              placeholder=""
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3 class="ml-4">Variable Editor</h3>
                  <h6 class="ml-4">
                    To enable or disable every access of data
                  </h6>
                </div>
              </div>
              <div class=" table-responsive">
            <table class=" table  align-items-center table-flush" style="width: 100%">
              <thead class=" thead-light">
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">File No.</th>
                  <th scope="col">TAC</th>
                  <th scope="col">Model Desc.</th>
                  <th scope="col">Consignee</th>
                  <th scope="col">Submission Date</th>
                  <th scope="col">Approve Date</th>
                  <th scope="col">Expiry Date</th>
                  <th scope="col">Category</th>
                  <th scope="col">SLPID</th>
                  <th scope="col">IMEI</th>
                  <th scope="col">Serial No.</th>
                  <th scope="col">Brand</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    Enable/Disable
                  </td>

                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                  <td style="width:5%" class="text-center">
                    <input type="checkbox"/>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
