<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6>
          <br />
          <h6 class="h3 text-white d-inline-block mb-0">
            "Registration of Certified Communications Equipment (RECCE)"
          </h6>
          <br /><br />
          <h6 class="h2 text-white d-inline-block mb-0">System Variable</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total System Usage
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="chartdiv1"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Portal Performance
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="chartdiv1"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bounce Rate
              </h5>

              <span class="h2 font-weight-bold mb-0"> 924 </span>
            </div>

            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
              >
                <i class="ni ni-money-coins"> </i>
              </div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>

            <span class="text-nowrap"> Since last month </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="example2cols1Input">
              Variable
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder=""
              type="text"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="example2cols2Input">
              Value
            </label>

            <input
              class="form-control"
              id="example2cols2Input"
              placeholder=""
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3 class="ml-4">Variable Editor</h3>
                  <h6 class="ml-4">
                    To enable or disable every access of data
                  </h6>
                </div>
              </div>

              <ngx-datatable
                class="bootstrap selection-cell"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="tableEntries != -1 ? tableEntries : undefined"
                [rows]="infoTable"
              >
                <ngx-datatable-column name="Items">
                  <ng-template
                    let-rowIndex="rowIndex"
                    let-row="row"
                    ngx-datatable-cell-template
                  >
                    <!--<strong>{{ rowIndex + 1 }}</strong>-->
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>File No.</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>TAC</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.fileNo }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Category</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.productCategory }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Model Description</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Description</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelDescription }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Consignee</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.consigneeName }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Submission Date</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.approveDate }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Approve Date</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.expiryDate }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Expiry Date</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Category</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>SLP ID</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>IMEI/Serial</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Brand</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span>Commercial</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.modelId }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
