<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-8 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Welcome, Ali Imran</h6>
          <br />
          <h6 class="h3 text-white d-inline-block mb-0">
            "Registration of Certified Communications Equipment (RECCE)"
          </h6>
          <br /><br />
          <h6 class="h2 text-white d-inline-block mb-0">
            Notification Configuration
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total System Usage
              </h5>
            </div>
            <div class="chart">
              <div class="amchart align-items-center" id="pieNoti"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Portal Performance
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="pieChartNoti"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bounce Rate
              </h5>
            </div>
            <div class="chart">
              <div class="amchart" id="bounceNoti"></div>
            </div>
          </div>

          <p class="mt-3 mb-0 text-sm">
            <!--<span class="text-success mr-2">
              <i class="fa fa-arrow-up"> </i> 3.48%
            </span>-->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Notification Configuration</h3>
      <h6 class="ml-2">To change the notification receiver</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group" *ngIf="!editEnabled">
            <label class="form-control-label" for="example2cols1Input">
              RECIPIENT 1
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="admin@mail.com"
              type="text"
              disabled
            />
            <label class="form-control-label mt-2" for="example2cols2Input">
              RECIPIENT 2
            </label>

            <input
              class="form-control"
              id="example2cols2Input"
              placeholder="user@mail.com"
              type="text"
              disabled
            />
          </div>
          <form [formGroup]="editForm" *ngIf="editEnabled">
			<label class="form-control-label" for="example2cols1Input">
              RECIPIENT 1
            </label>

            <input
              class="form-control"
              id="example2cols1Input"
              placeholder="admin@mail.com"
              type="text"
            />
            <label class="form-control-label mt-2" for="example2cols2Input">
              RECIPIENT 2
            </label>

            <input
              class="form-control"
              id="example2cols2Input"
              placeholder="user@mail.com"
              type="text"

            />
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg col-5 text-right">
          <a
            *ngIf="!editEnabled"
            class="btn btn-default btn-lg text-white btn-icon btn-3"
            (click)="toggleEdit()"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-user-edit"></i
            ></span>
            <span class="btn-inner--text">Edit</span>
          </a>
          <a
            *ngIf="editEnabled"
            class="btn btn-danger btn-lg text-white btn-icon btn-3"
            (click)="toggleEdit()"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-arrow-left"></i
            ></span>
            <span class="btn-inner--text">Back</span>
          </a>
          <a
            *ngIf="editEnabled"
            class="btn btn-success btn-lg text-white btn-icon btn-3"
            (click)="confirm()"
          >
            <span class="btn-inner--icon"><i class="fas fa-save"></i></span>
            <span class="btn-inner--text">Save</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
